.desktop{
    display: none;
}
.mobile{
    display: block;
    overflow: hidden;
  }

.body {
    background-color: #7bc8db;
    margin: 0;
    overflow: auto;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.mobilebackground{
    image-rendering: pixelated;
    top: 8%;
    position: absolute;
    width: 100%;
}


.mobilebackground img{
    position: absolute;
    width: 100%;
}

#button1 {
    width: 45%;
    height: auto;
    top: 21vw;
    left: 5vw;
    position: absolute;
    image-rendering: pixelated;
  }
  
  #button2 {
    width: 45%;
    height: auto;
    top: 95vw;
    left: 10vw;
    position: absolute;
    image-rendering: pixelated;
  }
  
  #button3 {
    width: 29%;
    height: auto;
    top: 69vw;
    left: 61vw;
    position: absolute;
    image-rendering: pixelated;
  }
  
  #button4 {
    width: 52%;
    height: auto;
    top: 134vw;
    left: 39vw;
    position: absolute;
    image-rendering: pixelated;
  }


  .mContactMe {
    display: none;
    min-width: 59vw;
    max-width: 59vw;
    position: absolute;
    top: 59vh;
    left: 0vh;
    z-index: 10;
    image-rendering: pixelated;
  }
  .ContactMeContainter {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 11;
  }
  .metwo {
    position: relative;
    width: 49%;
    height: auto;
    z-index: 1;
  }
  .metwo:active {
    cursor: grabbing;
  }
  .me2 {
    width: 100%;
  }
  .ContactMeWindow {
    left: 14%;
    top: -106%;
    position: absolute;
    width: 122%;
    z-index: 0;
    height: auto;
  }
   .ContactMeWindow img {
    width: 123%;
  }
  
  .ContactButton {
    position: absolute;
    top: -97%;
    width: 10%;
    left: 138%;
  }
  .ContactButton:active {
    top: -98%;
    left: 139%;
  }
  
  .ContactMeText {
    left: 48%;
    top: -14%;
    position: absolute;
    width: 71%;
    height: 29%;
    z-index: 0;
  }
  .social1 img{
    width: 126%;
  }
  .social2 img{
    width: 143%;
}
  
  .social3 img{
    width: 130%;
  }

  .social1 {
    position: absolute;
  }
  .social2 {
    position: absolute;
    top: 44%;
  }
  .social3 {
    position: absolute;
    top: 86%;
}
  



#abm_mpage {
  display: none;
  min-width: 50vw;
  max-width: 50vw;
  position: absolute;
  top: 44vh;
  right: 0;
  z-index: 19;
  image-rendering: pixelated;
}
.AboutMeContainer {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.me {
  position: relative;
  width: 118%;
  height: auto;
  left: -18%;
  z-index: 1;
  cursor: grab;
}
.me:active {
  cursor: grabbing;
}

.me1 {
  width: 100%;
}
.AboutMeWindow {
  left: -97%;
  top: -95%;
  position: absolute;
  width: 171%;
  z-index: 0;
  height: auto;
}
.AboutMeWindow img {
  width: 100%;
}
.AboutMeButton {
  left: 48%;
  top: -89%;
  position: absolute;
  width: 14%;
  z-index: 1;
  height: auto;
}

.AboutMeButton:active {
  left: 47%;
  top: -90%;
}

.AboutMeButton img {
  width: 100%;
}
.AboutMeText {
  left: -82%;
  top: -76%;
  position: absolute;
  width: 137%;
  height: 120%;
  z-index: 0;
  overflow: auto;
  overflow-x: none;
}


@font-face {
  font-family: "VT323";
  src: url("./assets/Font/VT323-Regular.ttf");
  font-style: normal;
  font-weight: 100;
}
.Text1 {
  font-family: "VT323";
  font-weight: 100;
  font-size: 202%;
}
.Text2 {
  font-family: "VT323";
  font-weight: 100;

  font-size: 202%;
}
.Text3 {
  font-family: "VT323";
  font-weight: 100;

  font-size: 202%;
}
.Text4 {
  font-family: "VT323";
  font-weight: 100;
 
  font-size: 202%;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}






.projectWindow {
  display: none;
  max-width: 92vw;
  max-height: 99vh;
  position: absolute;
  top: 39vw;
  left: 15vw;
  z-index: 10;
  image-rendering: pixelated;
}
.projectborder {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.closebutton {
  position: absolute;
  width: 9%;
  height: auto;
  top: 1.3%;
  left: 90%;
  right: 30%;
  z-index: 999;
}
.peachspread {
  background: peachpuff;
  width: 100%;
  height: 86%;
  position: absolute;
  top: 9%;
  z-index: 1;
}
.projectbackground {
  background: peachpuff;
  width: 100%;
  height: 84.67%;
  position: absolute;
  top: 10%;
  z-index: 12;
  overflow: auto;
  overflow-x: hidden;
}


#p1 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0%;
  z-index: 90;
}
.frameOne {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.lost {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p1:active {
  top: 5.5%;
  left: 0.5%;
}
#p2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 44%;
  z-index: 90;
}
.frameTwo {
  width: 38%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 6%;
  z-index: 90;
}
.NTK {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p2:active {
  top: 28.5%;
  left: 44.5%;
}
#p3 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: 90;
}
.frameThree {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.IWTBE {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p3:active {
  top: 60.5%;
  left: 0.5%;
}
#p4 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 0%;
  z-index: 90;
}
.frameFour {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 90;
}
.Starsnot {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 89;
}
#p4:active {
  top: 84.5%;
  left: 0.5%;
}
#p5 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 104%;
  left: 0%;
  z-index: 90;
}
.frameFive {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.FarP {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p5:active {
  top: 104.5%;
  left: 0.5%;
}
#p6 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 130%;
  left: 44%;
  z-index: 90;
}
.frameSix {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.Hopeicon {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p6:active {
  top: 130.5%;
  left: 44.5%;
}
#p7 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 160%;
  left: 0%;
  z-index: 90;
}
.frameSeven {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.ITISH {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p7:active {
  top: 160.5%;
  left: 0.5%;
}

.closebutton img {
  width: 95%;
  height: auto;
  z-index: 999;
}
.closebutton:active {
  top: 1.5%;
  right: 25%;
}



#constanttorn_mpage {
  min-width: 95vw;
   max-width: 30vw;
   max-height: 50vh;
  position: absolute;
  top: 11.5vh;
  left: 1.2vh;
  z-index: 20;
  image-rendering: pixelated;
   display: none;
}

#constanttorn_page:active {
  z-index: 99;
}

.torncontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.tornfull {
  width: 100%;
  height: auto;

  image-rendering: crisp-edges;
}
.torntopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  position: absolute;
}
.closetornbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 92%;
  position: absolute;
  z-index: 99;
}
.closetornbutton:active {
  top: -1%;
  left: 92.1%;
}
.tornbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#NTK_mpage {
  min-width: 95vw;
  max-width: 30vw;
  max-height: 50vh;
 position: absolute;
 top: 11.5vh;
 left: 1.2vh;
 z-index: 20;
 image-rendering: pixelated;
  display: none;
}

.NTKcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.NTKfull {
  width: 100%;
  height: auto;

  image-rendering: crisp-edges;
}
.NTKtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  position: absolute;
}
.NTKbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 92%;
  position: absolute;
  z-index: 99;
}
.NTKbutton:active {
  top: -1%;
  left: 92.1%;
}
.NTKbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
#IWTBE_mpage {
  display: none;
  min-width: 91vw;
  max-width: 39vw;
  min-height: 14vh;
  position: absolute;
  top: 26vh;
  left: 2.6vh;
  z-index: 20;
  image-rendering: pixelated;
}
.IWTBEcontainter {
  position: relative;
  width: auto;
  height: 29vh;
  z-index: 11;
}
.IWTBEvideo {
  height: 100%;
  width: 100%;
}
.IWTBEtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: auto;
  left: 0%;
  position: absolute;
  z-index: 10;
}
.IWTBEbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: 1.9%;
  left: 92.5%;
  position: absolute;
  z-index: 99;
}
.IWTBEtornbutton:active {
  top: 2%;
  left: 92.6%;
}
.IWTBEbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: auto;
  left: 0%;
  z-index: 10;
}

#Starsnot_mpage {
  display: none;
  min-width: 98vw;
    max-width: 101vw;
    max-height: 74vh;
    position: absolute;
    top: 20vh;
    left: 0.5vh;
    z-index: 20;
    image-rendering: pixelated;
}

.Starsnotcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.Starsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 10;
}

.fullimageStarsnot {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starsfull {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.Starsbutton {
  width: 6.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.Starsbutton:active {
  top: 1%;
  left: 93.1%;
}

#FarPlains_mpage {
  display: none;
  min-width: 38vw;
  max-width: 98vw;
  position: absolute;
  top: 11vh;
  left: 1vw;
  z-index: 22;
  image-rendering: pixelated;
}

.FarPlainscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.FarPlainsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: -1%;
  z-index: 98;
}

.fullimagePlains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.FarPlainsback {
  width: 100%;
  height: 64vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}


.FarPlainstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.FarPlainsbutton {
  width: 5.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.FarPllainsbutton:active {
  top: -0.9%;
  left: 93.1%;
}

#HopesFears_mpage {
  display: none;
  min-width: 38vw;
  max-width: 98vw;
  position: absolute;
  top: 11vh;
  left: 1vw;
  z-index: 22;
  image-rendering: pixelated;
}

.HopesFearscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.HopesFearsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Hope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullHope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Fear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullFear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.HopesFearsback {
  width: 100%;
  height: 64vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}

.HopesFearstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.HopesFearsbutton {
  width: 5.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.HopesFearsbutton:active {
  top: -0.9%;
  left: 93.1%;
}

#StayHere_mpage {
  display: none;
  min-width: 38vw;
  max-width: 98vw;
  position: absolute;
  top: 11vh;
  left: 1vw;
  z-index: 22;
  image-rendering: pixelated;
}

.StayHerecontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.StayHerebottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Inside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullInside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Outside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullOutside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}
.fullOutside img {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

.StayHereback {
  width: 100%;
  height: 64vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}

.StayHeretopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.StayHerebutton {
  width: 5.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.StayHerebutton:active {
  top: -0.9%;
  left: 93.1%;
}