#button1 {
  width: 12%;
  height: auto;
  top: 12vw;
  left: 15vw;
  position: absolute;
  image-rendering: pixelated;
}

#button2 {
  width: 12%;
  height: auto;
  top: 27vw;
  left: 33vw;
  position: absolute;
  image-rendering: pixelated;
}

#button3 {
  width: 8%;
  height: auto;
  top: 19vw;
  left: 51vw;
  position: absolute;
  image-rendering: pixelated;
}

#button4 {
  width: 13%;
  height: auto;
  top: 20vw;
  left: 75vw;
  position: absolute;
  image-rendering: pixelated;
}

#abm_page {
  display: none;
  min-width: 22vw;
  max-width: 22vw;

  position: absolute;
  top: 15vh;
  left: 39vh;
  z-index: 19;
  image-rendering: pixelated;
  
}
.AboutMeWindow:active {
  cursor: url(./assets/Cursors/grabbing.png),auto;
 }
 
.AboutMeContainer {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.me {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  cursor: url(./assets/Cursors/grab.png),auto;
}
.me:active {
  cursor: url(./assets/Cursors/grabbing.png),auto;
}

.me1 {
  width: 80%;
}
.AboutMeWindow {
  left: -90%;
  top: -39%;
  position: absolute;
  width: 143%;
  z-index: 0;
  height: auto;
  cursor: url(./assets/Cursors/grab.png),auto;
}
.AboutMeWindow img {
  width: 80%;
}
.AboutMeButton {
  left: 3%;
  top: -34%;
  position: absolute;
  width: 9%;
  z-index: 1;
  height: auto;
  padding: 3%;
}
.AboutMeButton:active {
  left: 2%;
  top: -33.5%;
}

.AboutMeButton img {
  width: 100%;
}
.AboutMeText {
  left: -81%;
  top: -18%;
  position: absolute;
  width: 95%;
  height: 108%;
  z-index: 0;
  overflow: auto;
  overflow-x: none;
}


.ContactMe {
  display: none;
  min-width: 25vw;
  max-width: 25vw;
  position: absolute;
  top: 11vh;
  left: 123vh;
  z-index: 10;
  image-rendering: pixelated;
}
.ContactMeContainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.metwo {
  position: relative;
  width: 40%;
  height: auto;
  z-index: 1;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.metwo:active {
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.me2 {
  width: 100%;
}
.ContactMeWindow {
  left: 39%;
  top: -18%;
  position: absolute;
  width: 100%;
  z-index: 0;
  height: auto;
}
.ContactMeWindow img {
  width: 100%;
}

.ContactButton {
  position: absolute;
  top: -11%;
  width: 6%;
  left: 121%;
  padding: 3%;
}

.ContactButton:active {
  top: -10.5%;
  left: 120.5%;
}

.ContactMeText {
  left: 55%;
  top: 55%;
  position: absolute;
  width: 71%;
  height: 29%;
  z-index: 0;
}

.social1 {
  position: absolute;
  left: 0%;
  top: 3%;
  width: 42%;
  height: auto;
}
.social1 img {
  width: 100%;
  height: auto;
}

.social2 {
  position: absolute;
  top: 39%;
  width: 33%;
  left: -1%;
  height: auto;
}

.social2 img {
  width: 100%;
  height: auto;
}
.social3 {
  position: absolute;
  top: 72%;
  left: -1%;
  width: 94%;
  height: auto;
}
.social3 img {
  width: 100%;
  height: auto;
}

#constanttorn_page {
  display: none;
  min-width: 30vw;
  max-width: 30vw;
  max-height: 50vh;
  position: absolute;
  top: 3.5vh;
  left: 3vh;
  z-index: 19;
  image-rendering: pixelated;
}


.torncontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.tornfull {
  width: 100%;
  height: auto;

  image-rendering: crisp-edges;
}
.torntopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
 cursor: url(./assets/Cursors/grab.png),auto;
  position: absolute;
}
.torntopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.closetornbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 89%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.closetornbutton:active {
  top: -3.3%;
  left: 88.7%;
}
.tornbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#NTK_page {
  display: none;
  min-width: 30vw;
  max-width: 30vw;
  max-height: 50vh;
  position: absolute;
  top: 10vh;
  left: 15vh;
  z-index: 19;
  image-rendering: pixelated;
}
.NTKcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.NTKfull {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}
.NTKtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  position: absolute;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.NTKtopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.NTKbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 89.5%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.NTKbutton:active {
  top: -2.9%;
  left: 89.2%;
}
.NTKbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
#IWTBE_page {
  display: none;
  min-width: 40vw;
  max-width: 40vw;
  max-height: 90vh;
  position: absolute;
  top: 45vh;
  left: 115vh;
  z-index: 19;
  image-rendering: pixelated;
}
.IWTBEcontainter {
  position: relative;
  width: auto;
  height: 50vh;
  z-index: 11;
}
.IWTBEvideo {
  height: 100%;
  width: 100%;
}
.IWTBEtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: auto;
  left: 0%;
  position: absolute;
  z-index: 10;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.IWTBEtopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.IWTBEbutton {
  width: 5%;
  height: auto;
  image-rendering: pixelated;
  top: -2.1%;
  left: 90.5%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.IWTBEbutton:active {
  top: -1.9%;
  left: 90.2%;
}
.IWTBEbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: auto;
  left: 0%;
  z-index: 10;
}

#Starsnot_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 20vh;
  left: 20vh;
  z-index: 19;
  image-rendering: pixelated;
}

.Starsnotcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.Starsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 10;
}

.fullimageStarsnot {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starsfull {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.Starstopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.Starsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 91%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.Starsbutton:active {
  top: -2.9%;
  left: 90.8%;
}

#FarPlains_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 50vh;
  z-index: 19;
  image-rendering: pixelated;
}

.FarPlainscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.FarPlainsbottomborder {
  width: 98.6%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.fullimagePlains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.FarPlainsback {

  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}
.FarPlainsback::-webkit-scrollbar {
  width: 1vh;
}

.FarPlainsback::-webkit-scrollbar-thumb {
  background-color: #1b1b1b;
  border-radius: 1vh;
}

.FarPlainstopborder {
  width: 98.6%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
 cursor: url(./assets/Cursors/grab.png),auto;
  position: absolute;
}
.FarPlainstopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.FarPlainsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 88%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.FarPlainsbutton:active {
  top: -2.9%;
  left: 87.5%;
}

#HopesFears_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 100vh;
  z-index: 19;
  image-rendering: pixelated;
}

.HopesFearscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.HopesFearsbottomborder {
  width: 98.6%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Hope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullHope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Fear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullFear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.HopesFearsback {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}
.HopesFearsback::-webkit-scrollbar {
  width: 1vh;
}

.HopesFearsback::-webkit-scrollbar-thumb {
  background-color: #d4c2fd;
  border-radius: 1vh;
}

.HopesFearstopborder {
  width: 98.6%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.HopesFearstopborder:active{
  cursor:grabbing
}
.HopesFearsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 88%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.HopesFearsbutton:active {
  top: -2.9%;
  left: 87.5%;
}

#StayHere_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 120vh;
  z-index: 19;
  image-rendering: pixelated;
}

.StayHerecontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.StayHerebottomborder {
  width: 98.6%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Inside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullInside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Outside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullOutside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}
.fullOutside img {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

.StayHereback {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}
.StayHereback::-webkit-scrollbar {
  width: 1vh;
}

.StayHereback::-webkit-scrollbar-thumb {
  background-color: #131212;
  border-radius: 1vh;
}

.StayHeretopborder {
  width: 98.6%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.Starstopborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}
.StayHerebutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -3.1%;
  left: 88%;
  position: absolute;
  z-index: 99;
  padding: 3%;
}
.StayHerebutton:active {
  top: -2.9%;
  left: 87.5%;
}

.projectWindow {
  display: none;
  max-width: 31vw;
  min-width: 31vw;
  position: absolute;
  top: 19vw;
  left: 66vw;
  z-index: 10;
  image-rendering: pixelated;
}
.projectborder {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
 cursor: url(./assets/Cursors/grab.png),auto;
}
.projectborder:active{
 cursor: url(./assets/Cursors/grabbing.png),auto;
}

.closebutton {
  position: absolute;
  width: 7%;
  height: auto;
  top: 72.3%;
  left: 51%;
  right: 30%;
  z-index: 999;
  padding: 3%;
}


.projectbackground {
  width: 64.4%;
  height: 52.7%;
  position: absolute;
  top: 19%;
  z-index: 12;
  left: -4.99%;
  overflow: auto;
  overflow-x: hidden;
}

.projectbackground::-webkit-scrollbar {
  width: 1vh;
}

.projectbackground::-webkit-scrollbar-thumb {
  background-color: #B86F50;
  border-radius: 1vh;
}




#p1 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 13%;
  z-index: 90;
}
.frameOne {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.lost {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p1:active {
  top: 5.5%;
  left: 13.5%;
}
#p1:hover {
  width: 98%;
}


#p2 {
  width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 53%;
    z-index: 90;
}
.frameTwo {
  width: 38%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 6%;
  z-index: 90;
}
.NTK {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p2:active {
  top: 5.5%;
  left: 53.5%;
}
#p2:hover {
  width: 98% ;
}

#p3 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 79%;
  left: 53%;
  z-index: 90;
}
.frameThree {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.IWTBE {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p3:active {
  top: 79.5%;
  left: 53.5%;
}
#p3:hover {
  width: 98% ;
}

#p4 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 79%;
  left: -31%;
  z-index: 90;
}
.frameFour {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 90;
}
.Starsnot {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 89;
}
#p4:active {
  top: 79.5%;
  left: -30.5%;
}
#p4:hover {
  width: 99% ;
}
#p5 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 134%;
  left: 13%;
  z-index: 90;
}
.frameFive {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.FarP {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p5:active {
  top: 134.5%;
  left: 13.5%;
}
#p5:hover {
  width: 98% ;
}
#p6 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 134%;
  left: 53%;
  z-index: 90;
}
.frameSix {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.Hopeicon {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p6:active {
  top: 134.5%;
  left: 53.5%;
}
#p6:hover {
  width: 98% ;
}
#p7 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 209%;
  left: 13%;
  z-index: 90;
}
.frameSeven {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.ITISH {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p7:active {
  top: 209%;
  left: 13%;
}
#p7:hover {
  width: 98% ;
}


.closebutton img {
  width: 95%;
  height: auto;
  z-index: 999;
}
.closebutton:active {
  top:73.3%;
  left: 50%;
}

.island img {
  position: static;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.islandnight img {
  position: static;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

#cloud {
  pointer-events: none;
  max-width: 150%;
  min-width: 31%;
  height: auto;
  bottom: -5%;
  position: absolute;
  position: absolute;
  animation: move 25s linear infinite;
  image-rendering: pixelated;
}

@-webkit-keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

#cloud img {
  width: 100%;
}

#cloud2 {
  pointer-events: none;
  max-width: 150%;
  min-width: 31%;
  transform: scaleX(-1);
  height: auto;
  top: -5%;
  position: absolute;
  position: absolute;
  animation: move1 25s linear infinite;
  image-rendering: pixelated;
}

@-webkit-keyframes move1 {
  from {
    right: -35%;
  }
  to {
    right: 105%;
  }
}

#cloud2 img {
  width: 100%;
}

.body {
  cursor: url(./assets/Cursors/defaultcursor.png) 15 15, auto;
  background-color: #7bc8db;
  margin: 0;
  overflow: hidden;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.body:active{
  animation: cursor 400ms;
}

@keyframes cursor {
  0% {cursor: url(./assets/Cursors/swinganimation/frame1.png), auto;}
  25% {cursor: url(./assets/Cursors/swinganimation/frame2.png), auto;}
  50% {cursor: url(./assets/Cursors/swinganimation/frame3.png), auto;}
  75% {cursor: url(./assets/Cursors/swinganimation/frame4.png), auto;}
  100% {cursor: url(./assets/Cursors/defaultcursor.png), auto;}
 
}


@font-face {
  font-family: "VT323";
  src: url("./assets/Font/VT323-Regular.ttf");
  font-style: normal;
  font-weight: 100;
}
.Text1 {
  font-family: "VT323";
  font-weight: 100;
  font-size: 155%;
}
.Text2 {
  font-family: "VT323";
  font-weight: 100;
  font-size: 155%;
}
.Text3 {
  font-family: "VT323";
  font-weight: 100;
  font-size: 155%;
}
.Text4 {
  font-family: "VT323";
  font-weight: 100;
  font-size: 155%;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.mobile{
  display: none;
}
.desktop{
 display: block;
}