#button1 {
  width: 12%;
  height: auto;
  top: 12vw;
  left: 15vw;
  position: absolute;
  image-rendering: pixelated;
}

#button2 {
  width: 12%;
  height: auto;
  top: 27vw;
  left: 33vw;
  position: absolute;
  image-rendering: pixelated;
}

#button3 {
  width: 8%;
  height: auto;
  top: 19vw;
  left: 51vw;
  position: absolute;
  image-rendering: pixelated;
}

#button4 {
  width: 13%;
  height: auto;
  top: 20vw;
  left: 75vw;
  position: absolute;
  image-rendering: pixelated;
}


#abm_page {
  display: none;
  min-width: 22vw;
  max-width: 22vw;
  
  position: absolute;
  top: 15vh;
  left: 39vh;
  z-index: 19;
  image-rendering: pixelated;
}
.AboutMeContainer{
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.me{
  position: relative;
  width: 100%;
  height: auto;
  z-index:1 ;
  cursor: grab;
}
.me:active{
  cursor: grabbing;
}

.me1{
  width: 80%;
}
.AboutMeWindow{
  left: -90%;
  top: -39%;
  position: absolute;
  width: 143%;
  z-index: 0;
  height: auto;
}
.AboutMeWindow img{
  width: 80%;
}
.AboutMeButton{
  left: 8%;
  top: -32%;
  position: absolute;
  width: 8%;
  z-index: 1;
  height: auto;
}
.AboutMeButton:active{
  left: 9%;
  top:-31.5%
}

.AboutMeButton img{
  width: 100%;
}
.AboutMeText{
  left: -81%;
  top: -18%;
  position: absolute;
  width: 95%;
  height: 108%;
  z-index: 0;
  overflow: scroll;
}

.AboutMeText::-webkit-scrollbar {
  display: none;
}


.ContactMe {
  display: none;
  min-width: 25vw;
  max-width: 25vw;
  position: absolute;
  top: 11vh;
  left: 123vh;
  z-index: 10;
  image-rendering: pixelated;
}
.ContactMeContainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.metwo{
  position: relative;
  width: 40%;
  height: auto;
  z-index:1 ;
  cursor: grab;
}
.metwo:active{
  cursor: grabbing;
}
.me2{
  width: 100%;
}
.ContactMeWindow{
  left: 39%;
  top: -18%;
  position: absolute;
  width: 100%;
  z-index: 0;
  height: auto;

}
.ContactMeWindow img{
  width: 100%;
}

.ContactButton{
  position: absolute;
  top: -12%;
  width: 6%;
  left: 124%;
}
.ContactButton:active{
  top: -11%;
  left: 124.3%;

}

.ContactMeText{
   
  left: 55%;
  top: 55%;
  position: absolute;
  width: 71%;
  height: 29%;
  z-index: 0;
  
}

.social1{
  position: absolute;
  left: 0%;
  top: 3%;
  width: 42%;
  height: auto;
}
.social1 img{
  width: 100%;
  height: auto;
}

.social2{
  position: absolute;
  top: 39%;
  width: 33%;
  left: -1%;
  height: auto;
}

.social2 img{
  width: 100%;
  height: auto;
}
.social3{
  
  position: absolute;
  top: 72%;
  left: -1%;
  width: 94%;
  height: auto;
}
.social3 img{
  width: 100%;
  height: auto;
}













#constanttorn_page {
  display: none;
  min-width: 30vw;
  max-width: 30vw;
  max-height: 50vh;
  position: absolute;
  top: 3.5vh;
  left: 3vh;
  z-index: 19;
  image-rendering: pixelated;
}

#constanttorn_page:active {
  z-index: 99;
}

.torncontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.tornfull {
  width: 100%;
  height: auto;

  image-rendering: crisp-edges;
}
.torntopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  position: absolute;
}
.closetornbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 92%;
  position: absolute;
  z-index: 99;
}
.closetornbutton:active {
  top: -1%;
  left: 92.1%;
}
.tornbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#NTK_page {
  display: none;
  min-width: 30vw;
  max-width: 30vw;
  max-height: 50vh;
  position: absolute;
  top: 10vh;
  left: 15vh;
  z-index: 19;
  image-rendering: pixelated;
}

.NTKcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.NTKfull {
  width: 100%;
  height: auto;

  image-rendering: crisp-edges;
}
.NTKtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  position: absolute;
}
.NTKbutton {
  width: 6%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 92%;
  position: absolute;
  z-index: 99;
}
.NTKbutton:active {
  top: -1%;
  left: 92.1%;
}
.NTKbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
#IWTBE_page {
  display: none;
  min-width: 40vw;
  max-width: 40vw;
  max-height: 90vh;
  position: absolute;
  top: 45vh;
  left: 115vh;
  z-index: 19;
  image-rendering: pixelated;
}
.IWTBEcontainter {
  position: relative;
  width: auto;
  height: 50vh;
  z-index: 11;
}
.IWTBEvideo {
  height: 100%;
  width: 100%;
}
.IWTBEtopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: auto;
  left: 0%;
  position: absolute;
  z-index: 10;
}
.IWTBEbutton {
  width: 5%;
  height: auto;
  image-rendering: pixelated;
  top: 0.9%;
  left: 94.5%;
  position: absolute;
  z-index: 99;
}
.IWTBEtornbutton:active {
  top: -1%;
  left: 92.1%;
}
.IWTBEbottomborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  bottom: auto;
  left: 0%;
  z-index: 10;
}

#Starsnot_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 20vh;
  left: 20vh;
  z-index: 19;
  image-rendering: pixelated;
}

.Starsnotcontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}

.Starsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 10;
}

.fullimageStarsnot {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starsfull {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Starstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.Starsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -0.1%;
  left: 94%;
  position: absolute;
  z-index: 99;
}
.Starsbutton:active {
  top: 0%;
  left: 94.1%;
}

#FarPlains_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 50vh;
  z-index: 19;
  image-rendering: pixelated;
}

.FarPlainscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.FarPlainsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.fullimagePlains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains1 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains2 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.fullimagePlains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.farawayplains3 {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.FarPlainsback {
  background: peachpuff;
  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}

.FarPlainstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.FarPlainsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 94%;
  position: absolute;
  z-index: 99;
}
.FarPllainsbutton:active {
  top: -0.9%;
  left: 93.1%;
}


#HopesFears_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 100vh;
  z-index: 19;
  image-rendering: pixelated;
}

.HopesFearscontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.HopesFearsbottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Hope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullHope {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Fear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullFear {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.HopesFearsback {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}

.HopesFearstopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.HopesFearsbutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.HopesFearsbutton:active {
  top: -0.9%;
  left: 93.1%;
}


#StayHere_page {
  display: none;
  min-width: 38vw;
  max-width: 38vw;
  max-height: 74vh;
  position: absolute;
  top: 4vh;
  left: 120vh;
  z-index: 19;
  image-rendering: pixelated;
}

.StayHerecontainter {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.StayHerebottomborder {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 0%;
  z-index: 98;
}

.Inside{
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullInside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}

.Outside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  z-index: 0;
  margin: 0;
  padding: 0%;
}
.fullOutside {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}
.fullOutside img  {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

.StayHereback {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 9%;
  z-index: 12;
  overflow: scroll;
  overflow-x: hidden;
}

.StayHeretopborder {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  top: -2%;
  left: 0%;
  z-index: 98;
  position: absolute;
}
.StayHerebutton {
  width: 4.5%;
  height: auto;
  image-rendering: pixelated;
  top: -1.1%;
  left: 93%;
  position: absolute;
  z-index: 99;
}
.StayHerebutton:active {
  top: -0.9%;
  left: 93.1%;
}












.projectWindow {
  display: none;
  max-width: 25vw;
  max-height: 99vh;
  position: absolute;
  top: 10vw;
  left: 70vw;
  z-index: 10;
  image-rendering: pixelated;
}
.projectborder {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 11;
}
.closebutton {
  position: absolute;
  width: 8%;
  height: auto;
  top: 1.3%;
  left: 91%;
  right: 30%;
  z-index: 999;
}
.peachspread {
  background: peachpuff;
  width: 100%;
  height: 86%;
  position: absolute;
  top: 9%;
  z-index: 1;
}
.projectbackground {
  background: peachpuff;
  width: 100%;
  height: 84.67%;
  position: absolute;
  top: 10%;
  z-index: 12;
  overflow: scroll;
}
.projectbackground::-webkit-scrollbar {
  display: none;
}

#p1 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0%;
  z-index: 90;
}
.frameOne {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.lost {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p1:active {
  top: 5.5%;
  left: 0.5%;
}
#p2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 44%;
  z-index: 90;
}
.frameTwo {
  width: 38%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 6%;
  z-index: 90;
}
.NTK {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p2:active {
  top: 28.5%;
  left: 44.5%;
}
#p3 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: 90;
}
.frameThree {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 90;
}
.IWTBE {
  width: 38%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p3:active {
  top: 60.5%;
  left: 0.5%;
}
#p4 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 0%;
  z-index: 90;
}
.frameFour {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 90;
}
.Starsnot {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 50%;
  z-index: 89;
}
#p4:active {
  top: 84.5%;
  left: 0.5%;
}
#p5 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 104%;
  left: 0%;
  z-index: 90;
}
.frameFive {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.FarP {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p5:active {
  top: 104.5%;
  left: 0.5%;
}
#p6 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 130%;
  left: 44%;
  z-index: 90;
}
.frameSix {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.Hopeicon {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p6:active {
  top: 130.5%;
  left: 44.5%;
}
#p7 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 160%;
  left: 0%;
  z-index: 90;
}
.frameSeven {
  width: 38%;
  height: auto;
  position: absolute;
  top: 84%;
  left: 6%;
  z-index: 90;
}
.ITISH {
  position: absolute;
  width: 38%;
  height: auto;
  top: 5%;
  left: 6%;
  z-index: 89;
}
#p7:active {
  top: 160.5%;
  left: 0.5%;
}

.closebutton img {
  width: 95%;
  height: auto;
  z-index: 999;
}
.closebutton:active {
  top: 1.5%;
  right: 25%;
}

.island img {
  position: static;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}



#cloud {
  pointer-events: none;
  max-width: 150%;
  min-width: 31%;
  height: auto;
  bottom: -5%;
  position: absolute;
  position: absolute;
  animation: move 25s linear  infinite;
  image-rendering: pixelated;
}

@-webkit-keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

#cloud img{
  width: 100%;
}



#cloud2 {
  pointer-events: none;
  max-width: 150%;
  min-width: 31%;
  transform: scaleX(-1);
  height: auto;
  top: -5%;
  position: absolute;
  position: absolute;
  animation: move1 25s linear  infinite;
  image-rendering: pixelated;
}


@-webkit-keyframes move1 {
  from {
    right: -35%;
  }
  to {
    right: 105%;
  }
}

#cloud2 img{
  width: 100%;
}







.body {
  background-color: #7bc8db;
  margin: 0;
  overflow: hidden;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@font-face{
  font-family:'VT323';
  src: url("./assets/Font/VT323-Regular.ttf");
  font-style: normal;
  font-weight: 100;
}
.Text1{
  font-family: 'VT323';
  font-weight: 100;
  font-size: 155%;
}
.Text2{
  font-family: 'VT323';
  font-weight: 100;
  font-size: 155%;
}
.Text3{
  font-family: 'VT323';
  font-weight: 100;
  font-size: 155%;
}
.Text4{
  font-family: 'VT323';
  font-weight: 100;
  font-size: 155%;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  
}